body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849D8F;

  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a.gllacy-link {
  font: inherit;
  color: #ffffff;
}

a.gllacy-link > span {
  font: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a.gllacy-link:hover,
a.gllacy-link:active {
  color: #ffbc9e;
}

a.gllacy-link.on-white-bg,
a.gllacy-link.on-white-bg:hover,
a.gllacy-link.on-white-bg:active {
  color: #323232;
}

a.gllacy-link.on-white-bg > span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

/*Кнопки*/
.gllacy-button {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
  text-align: center;
  background: linear-gradient(#F26843, #E74A35);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  box-sizing: border-box;
}

.gllacy-button:hover {
  background: linear-gradient(#f58669, #ec6f5e);
}

.gllacy-button:active {
  outline: none;
  background: linear-gradient(#E74A35, #F26843);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 0.64);
}

.gllacy-input {
  padding: 0 15px;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

.with-underline {
  text-decoration: underline;
}

.container {
  position: relative;
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.gllacy-radio,
.gllacy-checkbox {
  display: none;
}

.gllacy-radio + label,
.gllacy-checkbox + label {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding-left: 33px;
  margin-right: 18px;
}

.gllacy-radio + label:last-child,
.gllacy-checkbox + label:last-child {
  margin-right: 0;
}

.gllacy-radio + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #FFFFFF;
}
.gllacy-radio:checked + label::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.gllacy-checkbox + label::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-size: cover;
}

.gllacy-checkbox:checked + label::before{
  width: 24px;
  background-image: url("../img/checkbox-on.svg");
}




/*Навигация по сайту*/
.main-header {
  position: relative;
  z-index: 3;
  padding-top: 10px;
}

.site-navigation {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 13px 0;
}

.site-navigation .menu-item {
  display: block;
}

a.menu-item {
  color: #ffffff;
}

a.menu-item span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hover-popup:hover a.menu-item,
a.menu-item:hover,
a.menu-item:active {
  color: #323232;
  background-color: #ffffff;
}

.menu-item.active {
  background-color: #D07058;
}

.menu-item.active span {
  border-bottom: none;
}

.dropdown-menu {
  width: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.dropdown-menu a {
  color: #323232;
}

.dropdown-menu li {
  list-style: none;
}

ul.dropdown-menu {
  padding-left: 0px;
}

a.catalog-menu {
  display: block;
  padding: 0 23px;
}

.dropdown-menu .catalog-menu {
  border-radius: 0;
}

.dropdown-menu .catalog-menu:hover {
  background-color: #fbded7;
}

.dropdown-menu .catalog-menu:focus {
  background-color: #f6b5a5;
}

.dropdown-menu .catalog-menu.active {
  background-color: #d07058;
  color: #ffffff;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin-left: auto;
  display: flex;
}

.user-navigation li {
  margin-right: 10px;
}

.user-navigation li:last-of-type {
  margin-right: 0;
}

.user-navigation-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.user-navigation-button span {
  margin-left: 8px;
}

.hover-popup:hover .user-navigation-button,
.user-navigation-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.hover-popup:hover .hover-black,
.user-navigation-button:hover .hover-black {
  fill: #000000;
}

.user-navigation a:not(.gllacy-button):hover,
.user-navigation a:not(.gllacy-button):focus {
  color: #323232;
}

.hover-popup {
  position: relative;
}

.hover-popup .popup {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: -7px;
  display: none;
  border-radius: 5px;
  overflow: hidden;
  background-color: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.hover-popup:hover .popup,
.hover-popup:focus .popup {
  display: block;
}

.login-form.popup,
.search-form.popup {
  left: unset;
  right: 0;
  padding: 20px 15px;
}

.login-form div {
  margin-bottom: 20px;
}

.login-form div:last-child {
  margin-bottom: 0;
}

.search-form .popup-input {
  width: 314px;
}

.login-form .popup-input {
  width: 244px;
}

.login-form .gllacy-button {
  padding: 14px 25px;
  margin-top: 20px;
}

.popup-input {
  padding: 15px;
  color: #000;
}

.popup::placeholder {
  color: #999999;
}

.main-navigation a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
}

.main-navigation a.main-header-logo {
  padding: 0;
}

.main-navigation {
  display: flex;
  position: relative;
}

.user-search a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 7px;
}

.new-products {
  font-weight: 700;
}

.separator {
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  margin-right: 9px;
  margin-left: 9px;
}

.reg-link {
  position: absolute;
  left: 140px;
  bottom: 23px;
}

.reg-link a {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  padding: 0;
  margin-bottom: 7px;

}

.reg-link a:last-child {
  margin-bottom: 0;
}

.reg-link span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.about-company {
  position: absolute;
  top: 66px;
  right: 27px;
}

.about-company > p {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.about-company > a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.about-company > p.nav-time {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 10px;
  text-align: right;
}

.about-company > .phone-number {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
  padding: 0;
}

/*Слайды*/

.slider ul {
  padding: 0;
  margin: 0;
}

.slider li {
  position: relative;
  list-style: none;
  display: none;
  height: 500px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.slider li.active {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.slider li:after {
  content: '';
  position: absolute;
  top: -91px;
  left: 0;
  width: 100%;
  height: 854px;
  z-index: -1;
  pointer-events: none;
}

.slider li:first-child:after {
  background-image: url("../img/slider/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

}

.slider li:nth-child(2):after {
  background-image: url("../img/slider/slide-2.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.slider li:last-child:after {
  background-image: url("../img/slider/slide-3.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.slider h3,
.slider a.gllacy-button {
  position: relative;
  z-index: 2;
  font-size: 32px;
  padding: 20px 40px;
  border-radius: 30px;
}

.slider h3 {
  width: 695px;
  margin: 0 0 42px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider-switch {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background: transparent;
  border: 2px solid #ffffff;
}

.slider-switch:hover {
  background: rgba(255, 255, 255, 0.5);
}

.slider-switch.active {
  background: #FFFFFF;
}

.slider-controls {
  position: absolute;
  bottom: 32px;
  left: 27px;
}

/*Промоакции*/

.promo-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 0;
}

.promo {
  display: flex;
}

.promo li {
  width: 560px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px 22px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center center;
}

.promo h3 {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo p {
  font-weight: 700;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 22px;
}

.promo .gllacy-button {
  float: right;
}

.promo-raspberries {
  background-image: url("../img/raspberries.jpg");
}

.promo-choco {
  background-image: url("../img/chocolate.jpg");
}

/*Каталог*/

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.catalog-list-item {
  position: relative;
  width: 267px;
  box-sizing: border-box;
  list-style: none;
  border-radius: 5px;
}

.catalog-list-item h3,
.catalog-list-item p {
  position: relative;
  z-index: 2;
}

.catalog-list-item .button-wrapper {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: -5px;
  left: -12px;
  width: 100%;
  height: calc(100% + 60px);
  padding: 8px 12px 20px;
  border-radius: 10px;
}

.catalog-list-item:hover .button-wrapper {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  z-index: 1;
}

.catalog-list-item .gllacy-button {
  width: 203px;
  margin: 0 auto;
  display: block;
}

.catalog-list-item img {
  border-radius: 50%;
}

.catalog-list-item .gllacy-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: block;
}

.catalog-list-item p {
  position: absolute;
  left: 13px;
  top: 220px;
  margin: 0;
}

.catalog-list-item b,
.catalog-list-item i {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list-item i {
  font-size: 30px;
}

.catalog-list-item b::after {
  content: "";
  display: inline-block;
  height: 34px;
  width: 33px;
  margin-left: 5px;
  background-image: url("../img/ruble.svg");
  background-size: cover;
}

.catalog-item-hit {
  position: relative;
}

.catalog-item-hit::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-size: cover;
}

/*Наши преимущества*/

.features {
  background-color: #EFE4CE;
  background-image: url("../img/waffle-big.jpg");
  color: #323232;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 40px;
}

.features-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

}

.features-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.features-list li {
  width: 50%;
  padding-right: 25px;
  box-sizing: border-box;
  margin: 15px 0 0;
}

.feature-icon {
  position: relative;
  padding-top: 16px;
  padding-left: 55px;
  margin: 0;
}

.feature-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
}

.feature-icon.icon-ice-cream::before {
  background-image: url("../img/ice-cream.svg");
}

.feature-icon.icon-eco::before {
  background-image: url("../img/eco.svg");
}

.feature-icon.icon-cow::before {
  background-image: url("../img/cow.svg");
}

.feature-icon.icon-thermometer::before {
  background-image: url("../img/thermometer.svg");
}

/*Новости*/

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-item,
.news-dispatch {
  width: 560px;
  box-sizing: border-box;

}

.news-item {
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 43%;
  display: flex;
  flex-wrap: wrap;
  padding: 26px 21px;
  border-radius: 10px;
}

.news-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
}

.news-item a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-right: 40%;
}

.news-dispatch {
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 7px, #92cdff 7px, #92cdff 14px, #ffffff 14px, #ffffff 21px, #fe9e90 21px, #fe9e90 28px);
  background-color: #F8F7F4;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5A5A5A;
  border-radius: 10px;
  position: relative;
}

.news-dispatch:before {
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #F8F7F4;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  z-index: 0;
}

.news-dispatch > p,
.news-dispatch > .form-feedback {
  position: relative;
  z-index: 1;
  padding: 33px 27px;
}

.news-dispatch p {
  margin: 0;
}

.news-dispatch > .form-feedback {
  display: flex;
  padding-top: 0;
}

.news-dispatch .gllacy-input {
  width: 371px;
  box-sizing: border-box;
  margin-right: 11px;
}

.input-email {
  width: 100%;
  margin-right: 12px;
}

.news-dispatch .gllacy-button {
  padding: 12px 20px;
}

/*Контакты*/

.map-static {
  display: block;
  margin: 0 auto;
}

.contact {
  background-color: #F7F1D9;
  color: #323232;
  position: relative;

}

.contact-wrapper {
  position: relative;
  top: -430px;
}

.box-contact {
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  right: 27px;
  top: 63px;
  width: 280px;
  padding: 30px 25px;

}

.box-contact .order {
  margin-top: 30px;
  margin-bottom: 0px;
}

.address,
.order {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.big-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.big-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #323232;
}

.work-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.box-contact .gllacy-button {
  display: block;
  width: 100%;
}

/*Социальные сети*/

.footer-social li {
  list-style: none;
}

/*Информация компании*/

.main-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 18px 27px;
  align-items: center;
  clear: both;
}

.social-networks {
  margin: 0;
  padding-left: 0;
}

.social-networks li {
  display: inline-block;
  float: left;
  margin-right: 12px;
}

.footer-menu ul {
  display: inline-block;
  padding-left: 0;
  margin: 0 15px
}

.footer-menu li {
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 7px;

}

.social-button {
  display: block;
  border-radius: 50%;
  line-height: 0;
  border: 3px solid rgba(255, 255, 255, .5);
}

.with-heart {
  font-weight: 700;
  position: relative;
}

.with-heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-size: cover;
}

/*Копирайт*/

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

/*Форма обратной связи*/

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  width: 480px;
  left: calc(50% - 240px);
  top: calc(50% - 215px);
  z-index: 101;
}

.modal-login {
  background-color: #F8F7F4;
  border-radius: 5px;
  display: block;
  padding: 15px 25px 25px;
}

.modal-login h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin: 0 0 20px;
}

.modal-login p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.3px;
  color: #999999;
}

.modal-login .gllacy-input {
  width: 270px;
  padding: 15px;
  margin-bottom: 20px;
}

.gllacy-comments {
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;
}

.modal-login .gllacy-button {
  float: right;
  padding: 13px 24px;
}

.modal-login form {
  display: inline-block;
}

.modal-login .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url(../img/cross-big.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
}

/*Каталог*/

/*Хлебные крошки*/
.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 28px;
  margin-bottom: 9px;
}

.breadcrumbs li {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '»';
  margin: 0 8px;
}

.page-heading {
  margin-top: 0;
  margin-bottom: 25px;
}

/*Корзина*/

.orders-list.popup {
  left: unset;
  right: 0;
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 540px;
  box-sizing: border-box;
  padding: 15px;
}

.orders-list tr {
  display: block;
  margin: 10px 0;
}

.orders-list tr:first-child {
  margin-top: 0;
}

.orders-foot .orders-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid #CACAC7;

  display: block;
  text-align: right;
  padding: 15px 0;
}

.order-button {
  float: right;
}

.order-button .gllacy-button {
  padding: 15px;
}

.orders-data {
  padding: 0 6px;
}

.orders-data:nth-child(3) {
  width: 244px;
}

.orders-data:nth-child(4) {
  width: 123px;
}

.orders-data:nth-child(5) {
  width: 79px;
}

.orders-data button {
  width: 11px;
  height: 11px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-size: cover;
}

.orders-foot tr {
  margin: 0;
}

.orders-data-rate {
  color: #9f9f9f;
}

.basket-active:hover {
  background-color: #F8F7F4;
  color: #323232;
}

/*Фильтры*/

.filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 856px;
  justify-content: space-between;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
}

.filter-form legend {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-items {
  padding: 11px 16px;
  border-radius: 20px;
}

.filter-form section {
  border-radius: 20px;
}

.filter-form select {
  height: 40px;
  padding: 0 35px 0 15px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background: rgba(255, 255, 255, .2) url("../img/icon-down-dir.svg") no-repeat 170px 50%;
  border: none;
  border-radius: 18px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter .filter-items,
.filter-button {
  background-color: #9db1a5;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter-button {
  margin-top: 36px;
  border-radius: 18px;
  outline: none;
  border: 1px solid #fff;
  width: 146px;
}

.filter-button:hover {
/*select.filter-items:hover {*/
  background-color: #fbfcfb;
  color: #000000;
}

.filter-button:active {
  background-color: #eaeaea;
}

.double-range {
  position: relative;
  height: 40px;
  box-sizing: border-box;
}

.range-button {
  position: absolute;
  top: -7px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  border: 0;
  outline: 0;
}

.range-fill {
  position: absolute;
  top: calc(50% - 3px);
  left: 16px;
  width: calc(100% - 32px);
  height: 6px;
  /*background-color: #F8F7F4;*/
  background-color: rgba(248, 247, 244, 0.5);
}

fieldset {
  border: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pagination a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 26px;
  height: 26px;
  margin: 0 0 0 3px;
}

.pagination a.active {
  color: #323232;
  background-color: #fff;
  border-radius: 50%;
}

.pagination a:not(.active):hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
}

.pagination .prev,
.pagination .next {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  line-height: 26px;
  background-position: center center;
}

.pagination .prev {
  transform: rotate(-180deg);

}
